html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  border: 1px solid black;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../assets/home.png");
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  height: 95vh;
  color: white;
}
.title-container h1 {
  border: 1px solid black;
  text-align: center;
  font-size: 4rem;
}
.title-container button {
  margin-top: 0.5rem;
  border: 1px solid black;
  border-radius: 0.2rem;
  width: 9rem;
  height: 2rem;
}
.artists-container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
  flex-direction: row;
}
.artists-container .artist {
  border: 1px solid black;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.artists-container .artist img {
  border-radius: 0.3rem;
  width: 20rem;
  margin-bottom: 1.5rem;
}
.artists-container .artist a {
  margin-bottom: 1.5rem;
}
